<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Gun Super Peer</title>
</head>

<body>
  <h1>Gun Super Peer</h1>

  <p>
  <h2>
    The magic of Gun DB is happening on this website.
  </h2>
  <h3>
    Find a browser client for the right application,
    to access data in this P2P network.
  </h3>
  </p>

  <p>
    Or clone this repo and start your own docker
    super peer to expand the gun network.
  </p>

  <h3>
    <a href="https://github.com/scobru/shogun-superPeer">Super Peer</a>
    <br> <br>
    <a href="https://shogun-eco.xyz">Shogun Eco</a>
    <br><br>
    <a href="https://github.com/amark/gun">Find out more about Gun</a>
  </h3>
</body>

</html>